<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors
    mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0"/>
  </system.web>
  
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
        <binding name="WebServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8088/WebService.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap"
        name="WebServiceSoap" />
      <endpoint address="http://localhost:8088/WebService.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServiceSoap1" contract="ServiceReference1.WebServiceSoap"
        name="WebServiceSoap1" />
    </client>
  </system.serviceModel>
</configuration>